body {
    background-color: #DEDEDE;
    padding: 0px;
    margin: 0px;
    font-family: helvetica;
    font-size: 15px;
}

.header {
    font-family: helvetica;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    background: #474747;
    padding: 0 50px 0 50px;
    width: 100%;
    position: absolute;
}

.menu {
    background: #474747;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    height: 40px;
}

    .menu li {
        float: left;
        width: 75px;
        text-align: center;
        color: #80C3ED;
    }


        .menu li:hover {
            background-color: #2B8AC4;
        }

        .menu li a {
            text-decoration: none;
            color: #6AC7E6;
            display: block;
        }

        .menu li.activo {
            background-color: #2B8AC4;
        }

.formulario {
    border-style: solid;
    border-color: #33A0E1;
    border-width: 2px;
    width: 80%;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
